*{
  margin: 0;
  padding: 0;
}

.game{
  height: 100vh;
  background-image: linear-gradient(to right,rgb(171, 247, 136),rgb(253, 253, 93));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game p{
  margin: 1rem;
  font-size: larger;
}